<a href="https://colab.research.google.com/github/Sandhiya-B26/DEV-assignment/blob/main/ztest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [2]:
df = pd.read_csv('/content/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df[['Glucose','BloodPressure']].describe()

          Glucose  BloodPressure
count  768.000000     768.000000
mean   120.894531      69.105469
std     31.972618      19.355807
min      0.000000       0.000000
25%     99.000000      62.000000
50%    117.000000      72.000000
75%    140.250000      80.000000
max    199.000000     122.000000

In [4]:
ztest ,pvalue = stests.ztest(df['Glucose'], x2=None, value=146)
print(float(pvalue))
print(ztest)

5.4833686126737446e-105
-21.760593846867447

In [5]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [6]:
ztest,pval1=stests.ztest(df['Glucose'],df['BloodPressure'],value=100)
print(float(pval1))
print(ztest)

7.265927417078718e-280
-35.74737978491938

In [7]:
if pval1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted